<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增餐廳 Add A New Restaurant <i class="fas fa-utensils"></i></h5>
          <hr>
          <form method="POST" action="/restaurants/new">

            <div class="form-group form-row">
              <label for="rest-name" class="col-md-4 col-form-label">
                餐廳名稱 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant Name" name="name" class="form-control"
                  id="rest-name" value="{{name}}" required>
                <div class="valid-feedback">Good Answer</div>
                <div class="invalid-feedback">Example invalid feedback text</div>
              </div>
            </div>
            <div class="form-group form-row">
              <label for="rest-name-en" class="col-md-4 col-form-label">
                餐廳英文名稱 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant English Name" name="name_en"
                  class="form-control" id="rest-name-en" value="{{name_en}}" required>
              </div>
            </div>

            <!-- <div class="form-group form-row">
              <label for="rest-category" class="col-md-4 col-form-label">
                類別 *
              </label>
              <div class="col-md-8">
                <select class="form-control" id="rest-category" name="restCategory" required>
                  <option class="placeholder" selected disabled value="">Pleace Enter Restaurant Category</option>
                  <option value="1" {{#is options.restCategory 1}} selected {{/is}}>中式料理</option>
                  <option value="2" {{#is options.restCategory 2}} selected {{/is}}>日式料理</option>
                  <option value="3" {{#is options.restCategory 3}} selected {{/is}}>義式料理</option>
                  <option value="4" {{#is options.restCategory 4}} selected {{/is}}>美式料理</option>
                  <option value="5" {{#is options.restCategory 5}} selected {{/is}}>法式料理</option>
                  <option value="6" {{#is options.restCategory 6}} selected {{/is}}>韓式料理</option>
                  <option value="7" {{#is options.restCategory 7}} selected {{/is}}>墨西哥料理</option>
                  <option value="8" {{#is options.restCategory 8}} selected {{/is}}>印度料理</option>
                  <option value="9" {{#is options.restCategory 9}} selected {{/is}}>酒吧</option>
                  <option value="10" {{#is options.restCategory 10}} selected {{/is}}>咖啡廳</option>
                  <option value="11" {{#is options.restCategory 11}} selected {{/is}}>下午茶店</option>
                  <option value="12" {{#is options.restCategory 12}} selected {{/is}}>其他</option>

                </select>
                <div class="other-category mt-2 invisible">
                  <input type="text" placeholder="Pleace Enter Restaurant Category" name="restNewCategory"
                    class="form-control" id="rest-new-category" value="">
                </div>
              </div>
            </div> -->
            <div class="form-group form-row">
              <label for="rest-category" class="col-md-4 col-form-label">
                類別 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant Category" name="category" class="form-control"
                  id="rest-category" value="{{category}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="rest-image" class="col-md-4 col-form-label">
                影像連結 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant Image Url" name="image" class="form-control"
                  id="rest-image" value="{{image}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="rest-location" class="col-md-4 col-form-label">
                地址 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant Address" name="location" class="form-control"
                  id="rest-location" value="{{location}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="rest-phone" class="col-md-4 col-form-label">
                電話 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant Phone Number" name="phone" class="form-control"
                  id="rest-phone" value="{{phone}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="rest-google-map" class="col-md-4 col-form-label">
                地圖連結 *
              </label>
              <div class="col-md-8">
                <input type="text" placeholder="Pleace Enter Restaurant Google Map Url" name="google_map"
                  class="form-control" id="rest-google-map" value="{{google_map}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="rest-rating" class="col-md-4 col-form-label">
                評分 *
              </label>
              <div class="col-md-8">
                <input type="number" placeholder="Pleace Enter Restaurant Rating (0.0 ~ 5.0)" name="rating"
                  class="form-control" id="rest-rating" min="0" max="5" step="0.1" value="{{rating}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="rest-description" class="col-md-4 col-form-label">
                餐廳簡述 *
              </label>
              <div class="col-md-8">
                <textarea class="form-control" placeholder="Pleace Enter Restaurant Briefly Description"
                  name="description" id="rest-description" rows="3" required>{{description}}</textarea>
              </div>
            </div>

            <!-- Add Succeed display -->
            {{#if createSucceed}}
            <div class="alert alert-info" role="alert">
              <span class="mr-2">Add Restaurant: </span> <code>Succeed!</code>
            </div>
            {{/if}}
            <div class="d-flex flex-row-reverse">
              <a href="/"><button class="btn btn btn-outline-primary" type="button">Back to Home Page</button></a>
              <button class="btn btn-success mr-3" type="submit" {{#if createSucceed}} disabled {{/if}}>Add
                Restaurant</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>